.cola-form {
  .cola-row {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    &.cola-row-no-label {
      flex-direction: row-reverse;
    }
    .cola-form-item-label {
      flex-basis: 30%;
      text-align: right;
      padding-right: 20px;
      > label {
        margin-bottom: 0;
      }
      > label.cola-form-item-required:before {
        display: inline-block;
        margin-right: 4px;
        color: $danger;
        font-size: 14px;
        font-family: SimSun, sans-serif;
        line-height: 1;
        content: '*';
      }
    }
    .cola-form-item {
      flex-basis: 70%;
      position: relative;
      .cola-input-wrapper {
        margin-bottom: 0;
      }
      .cola-form-item-has-error.cola-form-item-control {
        .cola-input-inner {
          border: 1px solid $danger;
          &:focus {
            box-shadow: $input-focus-box-shadow-error;
          }
        }
      }
      .cola-form-item-explain {
        position: absolute;
        bottom: -25px;
        left: 0;
        line-height: 25px;
        color: $danger;
        min-width: 100px;
      }
    }
  }
  .cola-form-submit-area {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
